# Base url for tests
BASE_URL=
# MailSlurp api key for email testing
MAILSLURP_API_KEY=
# Admin account email (recommended to admin@admin.com) and password 
ADMIN_EMAIL=
ADMIN_PASSWORD=
# Run as if its being run on CI
CI=